.header{
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  align-items: center;

}
body{
  background-color:hsl(0, 0%, 98%);
}
.where{
  font-size: 25px;
  font-family: 'League Spartan', sans-serif;
  margin-right: 800px;
  font-weight: 800;
}

.input{
  margin-left: 50px;
  margin-top: 20px;
  padding: 10px 150px 10px 30px;
}

.dropdown{
  display: flex;
  justify-content:flex-end;
  margin: auto;
  margin-right: 100px;
  margin-top:-50px;
  padding: 10px 40px 10px 40px;
  font-size: 15px;
  align-content: center;
}

.CountryCard{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding:32px 52px 50px 10px;
  justify-content: space-around;
}

.Conatiner{
  width:30%;
  height:20%;
  display: flex;
  flex-wrap: wrap;
}

.flag{
  height:50%;
  width: 100%;
}
.content{
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}
.para{
  margin-left: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}
.total{
  margin-bottom: 20px;
  background-color:hsl(0, 0%, 100%);
}

.newimage{
  width:200%;
  margin-top: 30px;
  
}

.newComponent{
display: flex;
justify-content: space-around
}
.newheader{
  margin-top: -90px;
}
.sidecontainer{
  display: flex;
  align-items: flex-start;
  margin-top:80px;
  padding:40px
}
.btn{
  margin-left: 180px;
  padding: 5px 30px 5px 30px;
  margin-top:20px;
  background-color: white;
}
.newlist{
  margin-left: -140px;
  margin-top:-40px
}
.boundaries{
  margin:5px;
  background-color:white;
  padding: 4px 15px 4px 15px;
  border-radius: 8px;
}
